
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} (%F:%L) : %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.mservice" level="trace" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>